body {
    background-color: rgb(201, 201, 201);
    height: 300px;
  }
  .navbar {
    max-height: 50px;
  }
  .navigation .navbar-brand {
    color: rgb(255, 255, 255);
    margin-left: 0px;
    padding: inherit;
    font-weight: bold;
    background-color: rgb(1, 138, 138);
    font-family: cochin;
  }
  .navbar {
    background-color: rgb(1, 138, 138);
    font-size: 25px;
  }
  .active, .dropdown-menu .dropdown-item:active a:hover {
    background-color: rgb(255,255,255);
  }
  .dropdown-item {
    color: rgba(52, 150, 165, 0.75);
  }
  .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: rgba(52, 150, 165, 0.75);
  }
  .nav-link:hover {
    background-color:rgba(52, 150, 165, 0.75);
   }
  .navbar-brand:hover {
  color: rgb(1, 138, 138);
  }
  a {
    color: rgb(255, 255, 255);
    font-size: 15px;
  }
  img{
    width:100%;
    height:100%;
  }
  .active, .panel:hover {
    border-color:rgb(1, 138, 138);
    border-style: solid;
  }
  .vizualization {
    width:40%;
    height:50%;
  }
  .title {
    color: rgb(1, 138, 138);
    font-family: cochin;
    font-weight: bolder;
    padding-top: 10px;
  }
  p {
  color: rgb(49, 49, 49);
  font-family: 'segoe ui';
  font-size: 16px;
  }
  .box {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 15px 25px 15px;
    color: #ffffff;
    background-color: rgb(255, 255, 255);
  }
  footer {
    background-color: rgb(1, 138, 138);
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    min-height: 55px;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    }
  @media(max-width: 600px) {
    .navbar-expand-lg {
    background-color: #000000;
    }
    .navbar {
      max-height: none;
      padding: inherit;
    }
    .navbar div {
      margin: inherit;
      background-color: rgb(255,255,255);
    }
    .navbar-brand {
      padding: 10px;
    }
    button{
      margin-right: 30px;
    }
    button:focus {
      outline: 1px dotted;
      outline: auto 5px;
    }
  }
